@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('./zero.css');
@import url('./message-box.css');


/* ------------------------  Header --------------------------- */

.heared__conteiner {
    padding: 40px 15px;
}

.logo {
    width: 200px;
    background-image: url(../img/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 616/126;
}

/* ============================================================= */

/* ------------------------  Form --------------------------- */

.form__conteiner {
    min-height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
}
.form__decor {
    width: 180px;
    background-image: url(../img/contact_ico.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    margin: 0 auto;
    margin-bottom: 30px;
}
.form__content {
    display: flex;
    gap: 10%;
    margin-bottom: 50px;
}
.form__column {
    flex: 1 1 auto;
}

.input {
    width: 100%;
}

.input:not(:last-child) {
    margin-bottom: 40px;
}

.input__title {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 8px;
}

.input__title span {
    color: #be393b;
}
.input__inp {
    background-color: #2f3338;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 10px;
    border: #4c4f53 1px solid;
    width: 100%;
    outline: none;
    color: #ffffff;
}

.--area{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

textarea.input__inp{
    resize: none;
    flex: 1 1 auto;
    min-height: 150px;
}

.input__inp:focus{
    border-color: #743538;
}

.--col-2 {
    display: flex;
    flex-direction: column;
}

.form__btns{
    display: flex;
    justify-content: end;
}

.form__submit {
    display: block;
    color: #ffffff;
    background-color: #be393b;
    border-radius: 3px;
    padding: 12px 10px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

/* ============================================================= */

/* ------------------------  Comments --------------------------- */

.comments {
    background-color: #ffffff;
}
.comments__conteiner {
    min-height: 100vh;
    padding: 80px 15px;
}
.comments__title {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 100px;
}
.comments__content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.comment {
    flex: 0 1 30%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #e9eef3;
}

.comment:nth-child(even) {
    background-color: #deebde;
}
.comment:nth-child(even) .comment__header{
    background-color: #58ad52;
}
.comment:nth-child(even) .comment__email{
    color: #58ad52;
}
.comment:nth-child(even) .comment__text{
    color: #768275;
}


.comment__header {
    color: #ffffff;
    width: 100%;
    padding: 12px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    background-color: #4b596c;
}


.comment__body {
    padding: 30px 10px;
    text-align: center;
    min-height: 200px;
}
.comment__email {
    color: #6d737b;
    font-weight: 700;
    margin-bottom: 40px;
}
.comment__text {
    color: #767582;
}

/* ============================================================= */

/* ------------------------ Footer --------------------------- */

.footer {
    padding: 30px 0;
}
.footer__conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__logo {
    width: 160px;
}

.social {
    display: flex;
    align-items: center;
    gap: 25px;
}
.social__ico {
    width: 32px;
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.--vk {
    background-image: url(../img/vk.png);
}
.--fb {
    background-image: url(../img/fb.png);
}


/* ============================================================= */

@media screen and (max-width: 750px) {
    .form__content{
        flex-direction: column;
        
    }

    .--col-1{
        margin-bottom: 40px;
    }

    .form__submit{
        width: 100%;
        text-align: center;
    }

    .comments__content{
        flex-direction: column;
    }

    .comment{
        flex: 0 0 auto;
    }
}